nav {
  @include position(fixed, 0px 0px 0 0);
  border-bottom: 1px solid black;
  height: auto;
  padding: 1em 1.5em;
  width: auto;
  z-index: 1;

  .blog-title {
    @include transition(all, .15s, linear);
    color: black;
    display: inline-block;
    float: left;
    font-family: $sans-bold;
    font-size: 2em;
    font-weight: 700;
    margin-right: 1.5em;
    text-transform: uppercase;

    &:hover {
      color: $light-gray;
    }
  }

  ul {
    display: inline-block;
    list-style: none;
    text-align: right;

    li {
      display: inline-block;
      font-size: 1.4em;
      font-weight: 700;
      font-family: $sans-bold;
      line-height: 10px;
      vertical-align: text-bottom;
      width: auto;

      a {
        color: black;
        margin: 0;

        &:hover {
          background: rgba(#fff, .2);
          color: #fff;
        }
      }
    }
  }
}

.image-gradient {
  background-image: url('/images/sf.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 17em;
  position: relative;
  opacity: .7;
  width: 100%;
  display: table;
  margin-bottom: $base-line-height;

  .copy {
    left: 50%;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 40%;
    z-index: 999;

    p {
      background-color: transparentize(black, .6);
      border-radius: 10px;
      border: 1px solid white;
      color: white;
      font-size: 1.4em;
      font-weight: 300;
      left: -50%;
      letter-spacing: .5px;
      padding: 1em 2em;
      position: relative;
    }
  }

  .overlay {
    @include linear-gradient(180deg, transparentize(#fff, .7),
    transparentize($dark-gray, .6));
    display: block;
    @include position(absolute, 0px 0px 0px 0px);

    &:after {
      content: '';
      @include linear-gradient(90deg, transparentize($dark-gray, .9),
      transparentize($dark-gray, .8));
      display: block;
      @include position(absolute, 0px 0px 0px 0px);
    }
  }
}
