@charset "utf-8";

//Libraries
@import "bourbon";
@import "bitters/bitters";
@import "neat";

//Custom styles
@import "partials/header";

//Smooths appearance of text
html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

//Removes browser default margins from body.
body {
  margin: 0;
}

/* Centers the element in the viewport, clears its floats, and sets its max-width.
http://neat.bourbon.io/docs/#outer-container */

section {
  @include outer-container;
}

/*Structural helper for a three-column layout. We'll use this in the foooter and possibly other places.*/

.col-three {
  @include span-columns(3);
  @include omega(4n);
}

.image {
  margin: 1em 0;
}


ul.posts {

  li.post {
    @include span-columns(12);
    border-bottom: 1px solid $light-gray;
    padding: .5em 0;
  }
}

.post-wrap {
  @include transition(all .2s linear);
  padding: 1em;

  &:hover {
    background: lighten($blue, 44);
  }

  h1 {
    margin-bottom: 0;
    display: inline-block;
    font-size: 1.65em;
    font-weight: 500;
  }

  h5 {
    color: $light-font-color;
    font-weight: 300;
  }
}

//Styles the way the blog posts appear on the index page.

.post-body {

  h1 {
    display: none;
    font-size: 1.2em;
  }

  p {
    margin: 1em 0;
  }

  .image {
    display: none;
  }
}

footer {
  background: lighten($light-gray, 10);
  border-top: 1px solid $light-gray;
  margin-top: 5em;
  padding: 1em;
  overflow: hidden;
  height: auto;
  width: 100%;

  .col-three {
    padding: .5em;
    border-right: 1px solid $light-gray;
    min-height: 300px;

    &:last-child {
      border-right: none;
    }
  }

  h4 {
    font-size: 1.4em;
    font-weight: 300;
    padding-bottom: .5em;
  }

  ol {
    li {
      margin: 1em 0;
    }
  }
}
