@charset "utf-8";

@import "bourbon";
@import "bitters/bitters";
@import "neat";

//Removes browser default margins from body.
body {
  margin: 0;
}

.pull-right {
  float: right;
}

header {
  background: $dark-gray;
  color: #fff;
  height: auto;
  padding: 1em;
  width: 100%;
  overflow: hidden;

  h1 {
    display: inline-block;
    float: left;
  }

  ul {
    list-style: none;
    text-align: right;
    display: inline-block;
    float: right;

    li {
      color: #fff;
      display: inline-block;
      line-height: 3;
      width: 300px;
    }
  }
}

/* Centers the element in the viewport, clears its floats, and sets its max-width.
http://neat.bourbon.io/docs/#outer-container */

section {
  @include outer-container;
  position: relative;
}

.posts {
  h2 {
    @include span-columns(10);
    border-bottom: 1px solid $light-gray;
    padding-bottom: .5em;
  }

  .image {
    @include span-columns(3);
  }
}

.sidebar {
  @include span-columns(2);
  background: lighten($light-gray, 10);
  padding: 1em;

  h4 {
    border-bottom: 1px solid $light-gray;
    padding-bottom: .5em;
  }

  ol {
    li {
      margin: .5em 0;
    }
  }
}


