@charset "utf-8";

@import "bourbon";
@import "bitters/bitters";
@import "neat";

//Removes browser default margins from body.
body {
  margin: 0;
}

.pull-right {
  float: right;
}

header {
  background: $dark-gray;
  color: #fff;
  height: auto;
  padding: 1em;
  margin-bottom: 4em;
  width: 100%;
  overflow: hidden;

  h1 {
    display: inline-block;
    float: left;
  }

  ul {
    list-style: none;
    text-align: right;
    display: inline-block;
    float: right;

    li {
      color: #fff;
      display: inline-block;
      line-height: 3;
      width: 300px;
    }
  }
}

/* Centers the element in the viewport, clears its floats, and sets its max-width.
http://neat.bourbon.io/docs/#outer-container */

section {
  @include outer-container;
}

.post-wrap {
  @include clearfix;
  @include span-columns(10);
  @include shift(1);
  margin-bottom: 2em;
}

.posts {

  h2 {
    border-bottom: 1px solid $light-gray;
    padding-bottom: .5em;
  }

  p {
    margin: 1em 0;
  }

  .image {
    @include span-columns(3);
    border-radius: 5px;
  }
}

.col-three {
  @include span-columns(4);
  @include omega(3n);
  padding: .5em;
}

footer {
  background: lighten($light-gray, 10);
  border-top: 1px solid $light-gray;
  margin-top: 5em;
  padding: 1em;
  height: auto;
  width: 100%;

  h4 {
    padding-bottom: .5em;
  }

  ol {
    li {
      margin: 1em 0;
    }
  }
}
