<header>
  <section>
    <%= link_to "Demo Blog", "index.html", :class => "blog-title" %>
    <ul>
      <li>
        <%= link_to "About", "#" %>
      </li>
    </ul>
  </section>

<div class="image-container">
  <div class="image-gradient">
    <div class="copy">
      <p>Welcome to my demo blog!</p>
    </div>
    <div class="overlay"></div>
  </div>
</div>
</header>
