<% wrap_layout :layout do %>
  <div class="image-container">
    <div class="image-gradient">
      <div class="copy">
        <p>Welcome to my blog!</p>
      </div>
      <div class="overlay"></div>
    </div>
  </div>
<% end %>
